<a href="https://colab.research.google.com/github/k1esaro/123/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random

In [2]:
import pandas as pd

In [3]:
lst = ['robot'] * 10

In [4]:
lst += ['human'] * 10

In [5]:
random.shuffle(lst)

In [6]:
data = pd.DataFrame({'whoAmI':lst})

In [24]:
data.head()

   human  robot
0      1      0
1      1      0
2      1      0
3      0      1
4      1      0

In [10]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       1      0
3       0      1
4       1      0
5       1      0
6       1      0
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      1      0
16      1      0
17      0      1
18      0      1
19      0      1

In [14]:
data['tmp'] = 1

In [15]:
data.set_index([data.index, 'whoAmI'], inplace=True)

In [16]:
data = data.unstack(level=-1, fill_value = 0).astype(int)

In [17]:
data.columns = data.columns.droplevel()

In [18]:
data.columns.name = None

In [23]:
print(data)

    human  robot
0       1      0
1       1      0
2       1      0
3       0      1
4       1      0
5       1      0
6       1      0
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      1      0
16      1      0
17      0      1
18      0      1
19      0      1